{% extends 'base.html' %} {% block title %}New Post{% endblock %} {% block
content %}
<h2>Create a New Post</h2>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<p style="color: {{ 'red' if category == 'error' else 'green'}};">
  {{ message }}
</p>
{% endfor %} {% endif %} {% endwith %}
<form method="post">
  <label for="title">Title:</label><br />
  <input type="text" id="title" name="title" required /><br />
  <label for="content">Content:</label><br />
  <textarea name="content" id="content" required></textarea><br />
  <button type="submit">Create Post</button>
</form>
<a href="{{ url_for('blog.blog_index') }}">Back to blog</a>

{% endblock %}
